.calculated-number {
  background: rgb(208, 35, 64);
  position: absolute;
  left: 100%;
  bottom: 100%;
  transform: translate(-50%, 50%);
  font-size: 0.75rem;
}

.bg-green {
  background-color: rgb(24, 178, 10);
}

.bg-purple {
  background-color: rgb(190, 60, 190);
}

.form {
  min-height: 30vh;
}
